.frame {
    width: 100%;
    height: 100%;
}

.frame .main-body {
    height: 65%;
    display: flex;
    justify-content: space-evenly;
    flex-flow: column;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}

.frame .main-body img {
    width: 12rem;
}

.buttons-area {
    display: flex;
    flex-flow: column;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    width: fit-content;
    height: 9rem;
}